@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

body {
    overflow-x: hidden;
    height: fit-content;
}

.bg_image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(2px) brightness(60%);
}

.navbar {
    transition: all 0.4s;
}

.navbar-scrolled-down {
    background-color: #595959;
    opacity: 0.98;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link:hover {
    font-weight: bolder;
    transition: 0.3s;
}

.nav-link:not(:hover) {
    text-decoration: none;
    transition: 0.3s;
}

#something h1 {
    position: relative;
    margin-top: 275px;
    color: white;
    margin-left: 8%;
    width: 52%;
    font-family: "Exo 2";
    padding-bottom: 0.1%;
    animation: something 3s linear forwards;
    text-overflow: "";
    white-space: nowrap;
    overflow: hidden;
    border-bottom: white 5px solid;
    font-size: 3.7vw;
}


#undersomething h4 {
    position: relative;
    margin-top: 0.65%;
    color: white;
    margin-left: 8%;
    margin-right: 38%;
    font-size: 2vw;
}

@keyframes something {
    0% {
        width: 10%;
    }

    30% {
        width: 30%;
    }

    60% {
        width: 47%;
    }

    90% {
        width: 52%;
    }
}

.navbar-static {
    background-image: linear-gradient(-45deg, #595959 0%, #595959 100%);
    opacity: 0.98;

}

footer {
    margin-top: 1000px;
}

.sections {
    margin-top: 50vh;
    position: static;
}

.information-part {
    margin-top: calc(30px + 53vh);
    margin-left: 7%;
}

.information-part h3 {
    padding-bottom: 3vh;
}

#codeImage {
    float: right;
    max-width: 50%;
    height: 75vh;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10vh;

}

#textImage {
    float: left;
    width: 40%;
    padding-right: 2vw;
    padding-top: 5px;
}

.information-part-2 {
    margin-top: 20vh;
}