{% extends 'base.html' %}
{% block title %}Notes | SEng Notes{% endblock %}
{% block content %}
    {#  Add image on top, following the styling of home2.  #}
    <div class="container-fluid" id="welcomePart">
        <h1>Explore the applications of web programming</h1>
    </div>
    <div class="container side-nav">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/testering" class="" aria-current="true">Testing</a></li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>

{% endblock %}