{% extends 'base.html' %}
{% block title %}Dashboard | SEng Notes{% endblock %}
{% block content %}
    <div class="container-fluid" id="welcomePart">
        <h1>Welcome back, {{ username }}.</h1>
    </div>

    <div class="information-part">
        <h3>Explore the topics</h3>
    </div>

    <div id="carouselExampleCaptions" class="container carousel carousel-dark slide" data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-group">
                    <div class="card">
                        <img src="/static/images/applications.png" class="card-img-top" alt="Illustration of a monitor with websites coming out of it.">
                        <div class="card-body">
                            <h5 class="card-title"><a style="text-decoration: none; color: black;"
                                                      class="stretched-link" href={{ url_for("web_programming") }}>Explore
                                the applications of web programming</a></h5>
                            <p class="card-text">Contains notes regarding interactive websites, focusing on e-commerce,
                                and PWAs.</p>
                            <p class="card-text"><small class="text-muted">Updated 11/24/2024</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/static/images/computer-transfer.jpg" class="card-img-top" alt="Illustration depicting 2 monitor with white datalink beams connecting them">
                        <div class="card-body">
                            <h5 class="card-title"><a style="text-decoration: none; color: black;"
                                                      class="stretched-link" href={{ url_for("data_transfers") }}>Investigate
                                how data is transferred over the internet</a></h5>
                            <p class="card-text">Sub-topics include: an explanation of data packets, protocols, IP
                                addresses, and
                                DNS.</p>
                            <p class="card-text"><small class="text-muted">Updated 11/29/24</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/static/images/security.jpg" class="card-img-top" alt="A keycap with the words web security written on it">
                        <div class="card-body">
                            <h5 class="card-title"><a style="text-decoration: none; color: black;"
                                                      class="stretched-link" href={{ url_for("web_security") }}>Explain
                                the processes for securing the web</a></h5>
                            <p class="card-text">These notes go through the common methods for securing the web, such as
                                SSL, hashing, digital signatures, and more.</p>
                            <p class="card-text"><small class="text-muted">Updated 11/30/24</small></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="card-group">
                    <div class="card">
                        <img src="/static/images/server%20room.jpg" class="card-img-top" alt="A render of a server room">
                        <div class="card-body">
                            <h5 class="card-title"><a style="text-decoration: none; color: black;"
                                                      class="stretched-link"
                                                      href={{ url_for("big_data_accessibility") }}>Big Data and Web
                                Accessibility</a></h5>
                            <p class="card-text">The influence of big data and web accessibility initiatives are discussed
                                here, alongside how CSS impacts our web browsing experiences.</p>
                            <p class="card-text"><small class="text-muted">Updated 12/01/24</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/static/images/framework.jpg" class="card-img-top" alt="An image depicting the logos of the most common web development frameworks">
                        <div class="card-body">
                            <h5 class="card-title"><a style="text-decoration: none; color: black;"
                                                      class="stretched-link" href={{ url_for("web_development") }}>Frameworks,
                                browsers, version control.</a></h5>
                            <p class="card-text">Talking about all things development, including the influence of
                                browsers and the importance of VSC and code libraries.</p>
                            <p class="card-text"><small class="text-muted">Updated 12/01/24</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/static/images/dictionary.jpg" class="card-img-top" alt="An image of a dictionary page">
                        <div class="card-body">
                            <h5 class="card-title"><a style="text-decoration: none; color: black;"
                                                      class="stretched-link" href={{ url_for("glossary") }}>Glossary</a>
                            </h5>
                            <p class="card-text">A useful collection of all significant terms within this topic.</p>
                            <p class="card-text"><small class="text-muted">Updated 12/02/24</small></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="information-part" style="padding-right: 10vw">
        <h2>Test your Knowledge</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <td>Quiz</td>
                <td>Latest Score</td>
            </tr>
            </thead>
            <tr>
                <td><a href={{ url_for("firstquiz") }} class="link_anim">Topic Review: Programming for the Web</a></td>
                <td>{{ score }}</td>
            </tr>
        </table>
    </div>

{% endblock %}