{% extends 'notes_base.html' %}
{% block title %}Big Data and Accessibility | SEng Notes{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-2" style="position: fixed;">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#title1">What is Big Data?</a>
                    <a class="list-group-item list-group-item-action" href="#title2">Data Mining</a>
                    <a class="list-group-item list-group-item-action" href="#title3">Metadata</a>
                    <a class="list-group-item list-group-item-action" href="#title4">Accessibility and the W3C
                        Consortium</a>
                </div>
            </div>

            <div class="col-12" style="padding-left: 20vw;">
                <h2 style="padding-bottom: 2vh;">Big Data and Accessibility.</h2>
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                   class="scrollspy-example" tabindex="0">
                <p>
                    With the growth of the internet and our increasing reliance on web applications, companies and
                    developers have increasingly leveraged big data to help guide them optimize their applications
                    and increasing user satisfaction (and profits).
                </p>
                <h4 id="title1" class="title">Big Data in Depth</h4>
                <p>
                    Big data refers to data sets that are too large and complex for traditional database solutions,
                    thus requiring a different approach to analyze it. Compared to traditional data sets, big data,
                    instead of being well-organized and structured, involves large amounts of data in multiple
                    formats, including unstructured or semi-structured data. Therefore, traditional analytics
                    systems are incapable of effectively handling and analyzing this type of data, which requires a
                    more advanced method of analysis, such as data mining.

                    There are different types of data that big data encompasses, which include:
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Structured Data
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Structured data refers to highly organized information whose trends can be easily
                                identified and the relevant data searched. Structured data often has a standardized,
                                predefined format that is clearly defined and highly specific, therefore making it
                                easy to analyze by both humans and software.

                                <br><br>

                                This is the main advantage that structured data has over other types of big data:
                                its simplicity for searching fields and analysis. If databases only had this type of
                                data, traditional database systems would likely be able to be used. However, the
                                growth of the internet means that the proportion of structured data is likely
                                decreasing, and thus this makes big data analysis relevant.
                                <br><br>
                                Examples of structured data are:
                                <ul>
                                    <li>The ingredients, cooking time, and amount of calories in a recipe page.</li>
                                    <li>Employee data, including name, address and phone number, in a database.</li>
                                    <li>Customer data, including name, address and phone number, in a store's
                                        database.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Unstructured Data
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Unstructured data refers to disorganized data that contains no predefined structure,
                                making it a challenge for software to identify trends and search for specific data.
                                The growth of the internet means that unstructured data is becoming increasingly
                                common, with some examples being:
                                <br>
                                <ul>
                                    <li>Raw text from books and websites used to train predictive text.</li>
                                    <li>Images and media.</li>
                                    <li>Sensor data and logs from Internet-of-Things (IOT) devices.</li>
                                </ul>
                                <br><br>
                                The complexity and unstructured nature of this type of data is one of the main
                                factors that contribute to the challenges of big data, combined with its increasing
                                relevance in today's world. Therefore, techniques have been developed that are able
                                to analyze this data, such as data mining, which is going to be discussed below.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Semi-Structured Data
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Semi-structured data refers to data that has some level of organization, though not
                                as clearly defined and standardized as structured data. Semi-structured data
                                enforced a level of standardization in that it enforced hierachies of records, and
                                contains tags and other markers to separate elements and create structure.
                                <br><br>
                                These can include:
                                <ul>
                                    <li>Javascript Objeect Notation (JSON)</li>
                                    <li>Extensible Markup Language (XML)</li>
                                    <li>Emails</li>
                                </ul>
                                <br>
                                Semi-structured data strikes a balance between structured and unstructured data,
                                making it useful for certain applications, such as for web applications.
                            </div>
                        </div>
                    </div>

                    Streaming services use big data to conduct data mining, in order to provide recommendations
                    and maintain viewer engagement with the platform.
                    <ul>
                        <li>Most often, the services would use machine learning, in order to get meaningful data
                            out of the viewer’s viewing habits and preferences.
                        </li>
                    </ul>
                </div>

                <h4 id="title2" class="title">Data Mining</h4>
                <p>
                    Data mining is the process of sorting through large data sets to identify hidden patterns and
                    relationships that can be used by businesses to make informed decisions and predictions. It
                    involves the use of artificial intelligence and statistical analysis to extract meaningful
                    information from the data set, in particular data sets that have a combination of the
                    aforementioned data types.

                    Data mining typically involves the four steps:
                <ol>
                    <li>
                        Data collection
                        <ul>
                            <li>This involves gathering the data from various different sources, aggregating diverse
                                data in order to make more connections. The data can come from sources such as
                                databases and data warehouses.
                            </li>
                        </ul>
                    </li>
                    <li> Data cleaning
                        <ul>
                            <li>Data cleaning involves removing inconsistencies and errors within the data set in
                                order to prepare it for analysis. This means addressing missing values, correcting
                                inconsistencies and outliers, and removing noise, which refers to corrupted or
                                distorted data that is meaningless to the analysis.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Data analysis.
                        <ul>
                            <li>There are different techniques for analyzing data, including:
                                <ul>
                                    <li>Neural networks
                                        <ul>
                                            <li>Neural networks involve the use of deep learning algorithms to mimic
                                                the interconnectivity of the human brain through layers of nodes,
                                                which has inputs, weights, thresholds and outputs. For instance, if
                                                a node exceeds the threshold, then the node would provide an output.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Classification
                                        <ul>
                                            <li>
                                                Classification refers to the grouping of related data in a dataset,
                                                such that it makes information easier and faster to find and
                                                retrieve.
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        Association Rules
                                        <ul>
                                            <li>
                                                Association rules is a rule-based method for finding relationships
                                                between variables in a data set, typically using a simple, if-then
                                                rule. The confidence in the relationship is measured by how often
                                                the if-then relationship is true.
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        Data interpretation.
                        <ul>
                            <li>This step involves the presentation of data such that it is more presentable and
                                accessible for others to understand. This can include using graphical
                                representations such as scatter plots
                                and heat maps.
                            </li>
                        </ul>
                    </li>
                </ol>

                Data mining has both benefits and disadvantages for firms and companies:

                <table class="table">
                    <thead>
                    <th scope="col">Advantages</th>
                    <th scope="col">Disadvantages</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Data mining allows firms to see trends and capitalize on them in order to improve user
                            satisfaction in their product, and allow for better, more informed decisions regarding
                            features
                            and updates that they are going to implement.
                        </td>
                        <td>Data mining is costly, as obtaining the actual data itself to do analysis may require
                            updating the existing infrastructure, which may be expensive to do.
                        </td>
                    </tr>
                    <tr>
                        <td>Data mining can allows firms to predict future trends, which aids in planning.
                        </td>
                        <td>Incorrect implementations of data mining techniques can lead to privacy breaches and
                            uncover trends that may be false.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Data mining has a wide variety of usecases, meaning that it would be useful for any
                            application within the company, so long as there is data there to analyze.
                        </td>
                        <td>
                            Data mining does not have any guarantees that it will find meaningful trends in
                            datasets, and can sometimes lead to false trends.
                        </td>
                    </tr>
                    </tbody>
                </table>



                <h4 id="title3" class="title">Metadata</h4>
                <p>
                    Metadata is data that describes other data. It is essentially a shorthand representation of the
                    data that it refers to, serving as a descriptor that is used to find, understand and organize
                    data more efficiently.
                    Metadata includes:
                <ul>
                    <li>Descriptive metadata:
                        <ul>
                            <li>Contains information that describes the content, context, and characteristics of the
                                data, such as titles, authors, and keywords.
                            </li>
                            <li>Enables resource discovery and identification.</li>
                        </ul>
                    </li>
                    <li>Structural metadata:
                        <ul>
                            <li>Contains information about how data is organized and how different elements are
                                related, such as the structure of a database or the layout of a document.
                            </li>
                        </ul>
                    </li>
                    <li>Administrative metadata:
                        <ul>
                            <li>Contains information that helps manage the data, such as creation dates, access
                                rights, and file types.
                            </li>
                        </ul>
                    </li>
                    <li>Statistical metadata:
                        <ul>
                            <li>Contains information about the methodology used to collect and process data, which
                                can help users understand the context of the data.
                            </li>
                        </ul>
                    </li>
                </ul>

                <h4 id="title4" class="title">Accessibility and the W3C Consortium</h4>
                <p>
                    The World Wide Web Consortium (W3C) is an international standards organization that sets out the
                    best practices for web technologies, ensuring the internet maintains a consistent level of quality
                    and compatibility across all websites and applications. The W3C standards highlights best practices
                    ranging from programming languages to principles of architecture, which ensures that web developers
                    have a baseline in which they should follow to maximize the website’s accessibility, security and
                    privacy. The standards are useful in that they provide developers with certainty regarding specific
                    actions and provide regular users with consistent and positive experiences throughout the internet.

                <h5>WCAG</h5>
                The Web Accessibility Initiative (WAI) by the W3C is an initiative aimed to improve the accessibility of
                the internet for people with disabilities through the release of guidelines that help guide developers
                to best practices for inclusion and ease of use for disabled individuals, such as the Web Content
                Accessibility Guidelines (WCAG) that aimed to improve accessibility for low vision users.
                WCAG has impacted modern web applications as it recommended that developers support keyboard navigation
                and provide features such as screen reader compatibility and alternative text for images, all of which
                are widely available in modern web applications.

                <h5>Internationalization</h5>
                Internationalization refers to the designing of web application to function in different languages and
                cultural contexts. Through W3C’s Internationalization Activity, the consortium can ensure that web
                technologies are capable of being used anywhere in the world, regardless of the user’s language, writing
                system or culture by imposing standards on how web applications must be developed in order to maximize
                inclusivity. <br><br>
                The standards address the challenges for creating multilingual and multicultural websites by providing
                guidelines and examples for notable lingual and regional differences, such as text direction and formats
                for date and time. The standards would also provide guidelines for the usage of certain colors or
                symbols, which may be regarded as offensive for some cultures. By making developers aware of the
                discrepancies between countries and cultures, W3C ensures that developers can create websites that can
                cater to a larger audience and can potentially be localized to become more suited to the specific
                region.

                <h5>Web Security and Privacy</h5>

                W3C guidelines contribute to web security by disseminating guidelines that aim to prevent common
                vulnerabilities involving the injection or execution of unwanted code into the device of a user of a
                website.
                <br><br>
                Cross Site Scripting is an attack that uses the web server in order to relay the attacker’s commands,
                allowing them to execute malicious code if the victim visits a link containing the hacker’s code, or
                visits a resource in the webpage which the attacker has infected. XSS can be exploited to run unwanted
                code within the victim’s device, and, according to the W3C guidelines, can be prevented by properly
                sanitizing and cleaning user inputs, which is a process that involves checking and filtering inputs
                removing unsafe characters and prevent the injection of codes into the system. By providing a remedy for
                the problem, the W3C guidelines helps increase the security of the web and prevent widespread hacking.
                <br><br>
                Cross-site Request Forgery (CSRF) is an exploit technique that involves deceiving an authenticated user
                to perform an unwanted action on a trusted site, exploiting their current authenticated state to perform
                actions that require the user to authenticate themselves prior to doing the action. CSRF is made
                possible by the exploitation of cookies within the user’s browser, and thus, the W3C guidelines states
                that it can be prevented through the usage of randomly assigned form tokens. As the server knows what
                the form token should be, the server can then validate if the request made by the user is valid, thereby
                preventing CSRF from occurring.
                <br><br>
                Through W3C provision of preventative measures, the consortium raises awareness of the prevalence of
                potential attacks, helping developers create more secure applications that are resistant against virtual
                attacks.

                <h5>Interoperability</h5>
                Interoperability between web applications refers to the ability for web applications to work together
                with other systems or applications. The W3C outlines guidelines that help enhance interoperability,
                which include:
                <ul>
                    <li><strong>The Usage of Standardized Data Formats.</strong>
                        <ul>
                            <li>Using machine-readable standardized data formats, such as XMLs, CSVs and JSON would
                                standardize communication and thus enhance interoperability.
                            </li>
                        </ul>
                    </li>
                    <li><strong>The Reusal of Vocabularies.</strong>
                        <ul>
                            <li>Through the reuse of vocabularies for metadata, this reduces redundant descriptions and
                                helps with the comparison and automatic processing of data, avoiding ambiguity and
                                clashes between similar elements and values in other web applications.
                            </li>
                        </ul>
                    </li>
                    <li><strong>Make data available through an API.</strong>
                        <ul>
                            <li>An API would increase interoperability by allowing other websites to use the data from
                                another application, facilitating the collaboration between applications.
                            </li>
                        </ul>
                    </li>
                    <li><strong>Use persistent URIs as identifiers within Datasets</strong>
                        <ul>
                            <li>By making URIs consistent, other datasets can easily refer to your data, which would
                                ideally eventually create the situation where links can further data or go onto services
                                that can act or relate to the data in some other way, thus furthering the
                                interoperability of the web application.
                            </li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="btn-toolbar" style="padding-left: 40vw; margin-top: 100px">
        <button class="btn btn-success" style="text-align: center; left: 50%; margin-right: 20px;"><a
                href="{{ url_for("web_security") }}"
                style="color: white; text-decoration: none;">⬅️
            Securing the Web</a></button>
        <button class="btn btn-success" style="text-align: center; left: 50%"><a href="{{ url_for("web_development") }}"
                                                                                 style="color: white; text-decoration: none;">➡️
            Frameworks, Browsers, Version Control</a></button>
    </div>

{% endblock %}