{% extends 'notes_base.html' %}
{% block title %}Web Security | SEng Notes{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-2" style="position: fixed;">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#title1">Overview of Encryption and Keys</a>
                    <a class="list-group-item list-group-item-action" href="#title2">Types of Encryption Algorithms</a>
                    <a class="list-group-item list-group-item-action" href="#title3">Secure Socket Layer</a>
                    <a class="list-group-item list-group-item-action" href="#title4">Hash values and Digital
                        Signatures</a>
                </div>
            </div>

            <div class="col-12" style="padding-left: 20vw;">
                <h2 style="padding-bottom: 2vh;">Explain the processes for securing the web</h2>
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                     class="scrollspy-example" tabindex="0">
                    <p>Before the proliferation of the internet, data was transmitted in its raw and unencrypted form
                        called plaintext. In today’s world, this method of data transmission is unthinkable. All data,
                        which may include sensitive information, would be able to be easily read by a monitoring third
                        party, making transmission very insecure and prone to malicious modifications. Thus, as the
                        internet grew, the need for a secure way to transfer data across the internet grew alongside it,
                        forcing the development of protocols such as SSL and others. But before we can discuss that, we
                        must first understand what encryption is.
                    </p>
                    <h4 id="title1" class="title">What is encryption?</h4>
                    <p>
                        Encryption is the process of altering data into a form that can only be read by the intended
                        individuals. The way that this does this is by using encryption algorithms to encrypt plaintext
                        into ciphertext, which can then be decrypted with the corresponding key such that it can be
                        reread. Plaintext refers to unmodified data that can be read directly by devices or humans
                        without the need to decrypt. In the form of ciphertext, the original data cannot be meaningfully
                        derived without the use of the encryption key, hence meaning that ciphertext is the encrypted
                        form of plaintext. The usage of ciphertext over plaintext ensures that sensitive data remains
                        secure even during transmission and storage, allowing privacy and security to be maintained in
                        the vast scope of the internet.

                        <br> <br>

                        But what exactly is an encryption key? An encryption key is a string of characters or numbers
                        that is used by encryption algorithms to encrypt and decrypt data in a way that is unique to the
                        specific string, meaning that users require the same exact string in order to correctly read
                        encrypted data. In today’s internet, the security of data is no longer determined by the
                        encryption algorithms themselves, but rather on the security of the key itself. Without the
                        proper security of the key, hackers would be able to gain access to the data even if the
                        encryption method is foolproof.

                        <br><br>

                        Therefore, keys should be stored securely and be protected in both volatile and persistent
                        memory and processed in secure modules dedicated to cryptography. Most likely, devices would
                        store their private keys within cryptographic vaults, such as Hardware Security Modules, which
                        are standalone devices whose purpose is solely to manage keys and perform cryptographic
                        functions. Through HSMs, the encryption key would exist within a dedicated secure environment
                        that cannot be accessed directly from the device itself. Rather, the device would need to query
                        the HSM for all things related to encryption, and the module would return the answer to the
                        queries, such as for encryption, without ever revealing the key to the device. In addition to
                        HSMs, keys should be changed regularly and safely deleted if outdated, and only ever shared in
                        encrypted form.


                    <h4 id="title2" class="title">Encryption Algorithms</h4>
                    <p>Of course, the key is useless if there is no encryption algorithm to use it with. The encryption
                        algorithm is a method that is used to convert plaintext into ciphertext and back into plaintext.
                        The algorithm utilizes mathematical algorithms to map data to its scrambled form using the key,
                        thus allowing for the decryption of ciphertext. There are many common encryption algorithms,
                        such as RSA and AES, both of which differ as there are actually 2 types of encryption
                        algorithms: symmetric and asymmetric algorithms.

                    <h5>Symmetric Encryption and Asymmetric encryption</h5>
                    <p>
                        Symmetric encryption algorithms refers to encryption algorithms that use the same key for both
                        the encryption and decryption process.
                        This contrasts with asymmetric encryption, which uses two distinct keys, known as a private and
                        public key, for its process of encryption and decryption.
                        <br><br>

                        In symmetric encryption, the keys, as they are the same, represents a shared secret between two
                        or
                        more devices, as they both know the same information that they use to communicate with one
                        another. The problem with symmetric encryption arises from this shared secret, with the
                        challenge being the method used to relay this shared secret to the other device, such that
                        symmetric encryption can take place. If done incorrectly, malicious individuals would be able to
                        intercept the key during its transmission, allowing them to decrypt all messages between the two
                        devices and thus removing the security of the connection. However, compared to asymmetric
                        encryption, symmetric encryption is faster and allows for more efficient connections between
                        devices on the internet. Though ultimately, it is more suited to applications such as encrypting
                        files in storage or databases.<br><br>

                        Contrastingly, in asymmetric encryption, the algorithm uses two keys for the decryption and
                        encryption of data. These two keys are called private and public keys, and it is through
                        asymmetric encryption that internet conversations can be done, even through an insecure channel,
                        without the message being able to be decrypted. Private keys are only used for the encryption of
                        data, and private keys are only used for the decryption of data encrypted using the public key.
                        The way that asymmetric encryption works is by openly disclosing the public key, which is fine,
                        as it is only used for encryption, and therefore does not reveal anything about the data. Other
                        devices can use this public key to encrypt the data that it intends to send to the device. Using
                        the private key, this data can then be read by the intended device, and because the private key
                        is never shared and always kept secure within the device, it would be computationally unfeasible
                        for third parties to decrypt the data, ensuing the security of data.

                        <br><br>

                        However, the obvious disadvantage with this method is that it is more computationally intensive
                        compared to symmetric encryption, making it slower and less suited to applications that require
                        both security and speed. Thus, the modern internet uses a combination of both symmetric and
                        asymmetric encryption, incorporated in a method called Transport Layer Security (or more
                        commonly known as Secure Socket Layer).
                        <br><br>
                        To recap: <br><br>
                    </p>
                    <figure style="margin: auto; display: block; margin-left: auto; margin-right: auto; width:70%;">
                        <img src="/static/images/encryption_algorithms.png" class="img-fluid">
                        <figcaption style="font-size: 12px; color: grey">Table showing the main points regarding the two
                            classes of encryption algorithms.
                        </figcaption>
                    </figure>
                    <br>
                    <h4 id="title3" class="title">Secure Socket Layer / Transport Layer Security (SSL/TLS)</h4>
                    <p>
                        Secure Socket Layer (SSL) or Transport Layer Security (TLS) is one of the main protocols used in
                        internet communications, with it being an encryption-based internet security protocol. SSL/TLS
                        has a role in ensuring the genuineness of the server that the browser is trying to connect to
                        and facilitating the encryption connection between the server and the browser through the use of
                        both symmetric and asymmetric encryption.

                        <br><br>

                        SSL/TLS checks the validity of the server through its collaboration with a Trusted Third Party
                        called a Certificate Authority (CA). A CA is a trusted entity that issues digital certificates
                        in the form of SSL/TLS certificates to authenticate the content sent from web servers and
                        attests and vouches for the identity of a web server by using a digitally signed certificate.
                        The CA can also manage, revoke and renew certificates for web servers.

                        <br><br>

                        The CA:
                    <ul>
                        <li>Issues, revokes and renews web certificates.</li>
                        <li>Helps establish trust between communicating entities over the internet.</li>
                        <li>Verified domain names and organizations to validate their identities.</li>
                        <li>Maintains certificate revocation lists.</li>
                    </ul>

                    And the certificate typically contains:
                    <ul>
                        <li>Domain name in question.</li>
                        <li>The identity of the business.</li>
                        <li>The public key of the web server.</li>
                        <li>The details of the CA that issued the certificate.</li>
                        <li>The period of validity.</li>
                        <li>The IP address of the device.</li>
                        <li>A digital signature from the CA to prevent tampering.</li>
                    </ul>

                    Thus, in the process of TLS, the device would request for the SSL / TLS certificate to prove
                    authenticity and ensure the security of the connection, and this would then allow the browser to
                    proceed with the connection with the server as per TLS.
                    </p>

                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">To note:</h4>
                        <p>There is a difference between authentication and authorization.
                            <br><br>
                            Authentication is the process of verifying the identity of a user or entity, in order to
                            ensure that the person attempting to access the system is the correct person, and not a
                            malicious individual pretending to be the real user, be it through the use of passwords,
                            multifactor authentication, or biometrics.

                            <br><br>
                            Authorization is the process of ensuring that an already authenticated user has the ability
                            to perform a specific action or view a specific resource within the web server.
                            Authorization always follows authentication, and it is the way that servers limit user’s
                            access to sensitive data and prevents unauthorized actions.
                        </p>
                        <hr>
                        <p class="mb-0">So to recap, authentication verifies identity, authorization verifies
                            permissions.</p>
                    </div>

                    <p>
                        The process involved in TLS is as follows: <br>
                    <ol>
                        <li>The client first initiates the connection with the server using a “client hello,” which
                            contains information regarding the max TLS version, a random number and a list of cipher
                            suites.
                        </li>
                        <li>The server then sends a “Server Hello” back to the client, which contains information on the
                            chosen TLS version, the chosen cipher suite and a random number. The server also sends a
                            digital
                            certificate to prove its identity.
                        </li>
                        <li>
                            The client and server then perform the server-key exchange, using asymmetric cryptography to
                            exchange keys in order to establish a symmetric encryption connection through the use of a
                            session key.
                        </li>
                        <li>
                            After keys are exchanged, the session key is used throughout the connection, allowing data
                            to be transferred securely.
                        </li>
                    </ol>

                    </p>

                    <h4 id="title4" class="title">Hash Values and Digital Signatures</h4>
                    <p>
                        Digital signatures are part of the Public Key Infrastructure (PKI) system, which is a system
                        that enables the use of Public Key Cryptography (also known as asymmetric cryptography). Digital
                        signatures are comprised of the hash, encrypted by the Certificate Authority's Private Key and
                        the Public Key of Certificate Authority. The hash is generated from the certificate document
                        itself, and this verifies that the certificate has not been tampered with.
                        <br><br>
                        A hash function is a one-way function that maps data of an arbitrary size to a fixed length set
                        of values, known as a hash value. Hash functions verify the integrity of the document by
                        allowing small changes to have a large impact on the hash value, making it evident if the data
                        has been tampered with.
                        <br><br>
                        Digital signatures and hash values are therefore essential for the security of the web through
                        its significance in the TLS/SSL protocols.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-toolbar" style="padding-left: 40vw; margin-top: 100px">
        <button class="btn btn-success" style="text-align: center; left: 50%; margin-right: 20px;"><a
                href="{{ url_for("web_programming") }}"
                style="color: white; text-decoration: none;">⬅️
            Applications of Web Programming</a></button>
        <button class="btn btn-success" style="text-align: center; left: 50%"><a href="#"
                                                                                 style="color: white; text-decoration: none;">➡️
            Securing the Web</a></button>
    </div>

{% endblock %}