{% extends 'notes_base.html' %}
{% block title %}Web Development | SEng Notes{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-2" style="position: fixed;">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#title1">Browser Developer Tools</a>
                    <a class="list-group-item list-group-item-action" href="#title2">Other Browser Influences</a>
                    <a class="list-group-item list-group-item-action" href="#title3">Version Control</a>
                    <a class="list-group-item list-group-item-action" href="#title4">Code Libraries and Frameworks</a>
                </div>
            </div>

            <div class="col-12" style="padding-left: 20vw;">
                <h2 style="padding-bottom: 2vh;">Designing and Developing Web Applications</h2>
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                     class="scrollspy-example" tabindex="0">
                    <p>There are many aspects of designing and developing web applications, with small things such as
                        the browser developer tools and the IDE being capable of influencing the quality of work. There
                        are many things that can help simplify the process of collaborating and developing application,
                        such as the things listed below:
                    </p>
                    <h4 id="title1" class="title">Browser Developer Tools</h4>
                    <p>
                        Virtually any browser that one uses (be it Chrome, Firefox, Edge, etc.) has the option to show a
                        tool menu called the developer tools. The Developer Tools menu within all browsers allows
                        programmers to view the underlying structure of the webpage (by showing the Document Object
                        Model) and also allows them to modify code to view changes in real-time. Developer tools also
                        allow programmers to inspect and debug code, making it an overall an essential tool for web
                        developers. <br><br>
                        There are different tabs within the developer tools, all of which show different things and have
                        different functionalities. These are labeled differently in every browser, but each browser’s
                        developer tools should:
                    <ul>
                        <li>
                            Contain a way to inspect the DOM and CSS of the current webpage:
                            <ul>
                                <li>
                                    Developer tools allow you to inspect and modify (though not permanently) the HTML
                                    (represented as a DOM) and CSS of the website that is currently being displayed.
                                    This allows developers to experiment with different styles and layouts, with changes
                                    being applied in real-time. The developers can also experience the website’s changes
                                    within the intended browser without needing to modify the actual code, thus
                                    simplifying the
                                    experimentation process and allowing developers to easily simulate the user’s
                                    experience.

                                    <br><br>
                                    Additionally, inspecting the CSS within dev tools allows developers to find unused
                                    and redundant CSS, allowing them to more easily find and remove redundancies.

                                </li>
                            </ul>
                        </li>
                        <li>
                            View and utilize the Javascript console and debugger:
                            <ul>
                                <li>
                                    The Javascript console within the developer tools enables developers to debug the
                                    Javascript code within the source code that is not working properly. The console
                                    allows developers to run single or multiple lines of Javascript code against the
                                    page that is currently loaded within the browser and outputs error messages for code
                                    that fails to run. <br><br>
                                    The Debugger feature allows developers to set breakpoints (stopping execution at a
                                    certain line) and watch expressions (seeing what is contained in certain variables)
                                    in order to better understand the execution of code in order to find and rectify
                                    errors that it may contain. The debugger contains valuable information such as the
                                    scope (which lists all the variables that a certain line can see) and the call stack
                                    (which shows the code that was executed to get to the current line) which aid
                                    developers in determining the cause of an error that they are encountering. <br><br>
                                    Additionally, the Javascript debugger also allows developers to find unused
                                    Javascript, allowing them to remove redundant code, which can help optimize the file
                                    size.
                                </li>
                            </ul>
                        </li>
                        <li>
                            View a network monitor:
                            <ul>
                                <li>
                                    The network monitor allows developers to analyze network requests and show all
                                    resources that are being downloaded or uploaded by the website. The network monitor
                                    shows how long each resource takes to download and the details of each resource,
                                    such that developers are capable of optimizing website performance and determining
                                    any bottlenecks that exist within the website. <br><br>
                                    Additionally, the network tab also allows developers to throttle the speed of
                                    internet, in order to mimick the experience of users with low internet speeds,
                                    further allowing them to identify bottlenecks that contribute to slow loading and
                                    optimize their website to accommodate for slower internet speeds.
                                </li>
                            </ul>
                        </li>
                        <li>
                            View the performance statistics of a website
                            <ul>
                                <li>
                                    Performance tools detail how the page performs while running, showing metrics such
                                    as frames per second, and the time it takes to run certain process to give a general
                                    overview of how the webpage performs when it is running, as opposed to when it is
                                    loading. <br><br>
                                    Additionally, developer tools in the Chrome browser allows developers to the
                                    throttle the performance of their CPU in order to mimic the operation of the system
                                    for mobile devices, further helping identify bottlenecks and helping optimize the
                                    website.
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    Some browsers have an accessibility option in their developer tools, which allows
                                    the developer to view all elements of the webpage that are related to assistive
                                    technologies, such as for alternate text for images and the tabbing order of the
                                    website. <br>
                                    This helps them identify elements of the page that are not suitably easily
                                    accessible for impaired individuals, which helps in improving the accessibility of
                                    the webpage.
                                </li>
                            </ul>
                        </li>
                    </ul>

                    </p>

                    <br>
                    <h4 id="title2" class="title">Other Notable Influences of the Browser</h4>
                    <p>
                        Due to the existence of many browsers within the internet, when developing applications, it is
                        important to consider that these browsers do not have the same underlying code. Different
                        browsers can have differing implementations regarding how they approach certain core elements.
                        Consequently, developers would need to ensure that the code that they write are compatible with
                        the majority of these browsers, taking into account the following differences:
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Rendering Engines
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Rendering Engines are a core part of the browser that transforms HTML, CSS and other
                                    files into their visual representations that users see on the screen. It is
                                    responsible for interpretation of the code that developers write, and since not all
                                    browsers have the same rendering engine (for example, Firefox has Gecko, Safari has
                                    WebKit) it is essential that developers account for the nuances within each engine,
                                    such that the website loads correctly regardless of the user’s platform. <br><br>
                                    This can be done through the testing and debugging of the website across multiple
                                    browsers in order to find and resolve issues regarding rendering, or by checking
                                    online resources that verify the compatibility of certain HTML elements prior to
                                    implementation in the website.

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Javascript Engines
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Different websites have different implementations of the Javascript engine, such as
                                    Google’s V8 and Firefox’s SpiderMonkey, which can have different behaviors due to
                                    their different implementations, with V8 compiling straight to machine code and
                                    SpiderMonkey compiling to an intermediate language first. <br>As a result,
                                    Javascript
                                    code that works on one browser may not necessarily work flawlessly on another,
                                    meaning that developers would need to test their code on multiple platforms to
                                    ensure its compatibility.
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <p>
                        These two are the main points of different between browsers, and though it may seem daunting to
                        have to take into account the nuances, there exists techniques that developers can use to make
                        this process simpler, including:
                    <ul>
                        <li>
                            Sticking to the Standards Imposed by the W3C
                            <ul>
                                <li>
                                    Almost all commonly used web browsers adhere to standards outlined by the W3C and
                                    other similar organizations which aim to standardize the implementation of HTML, CSS
                                    and Javascript. This means that, by following the guidelines, developers would be
                                    able to ensure that their code works for almost every browser.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Utilizing feature detection
                            <ul>
                                <li>
                                    Languages like CSS contain inbuilt features that can detect whether a browser
                                    has the capability to show or understand certain elements within code. For example,
                                    CSS has an inbuilt function that allows developers to add a @supports rule in order
                                    to ensure compatibility with browsers, particularly older browsers, by allowing them
                                    to have alternative methods to render a particular element. <br><br>
                                    By utilizing these features, developers are able to stagnate the rollout of features
                                    that implement new technologies that may not be supported by all browsers in order
                                    to ensure that older browsers are still able to access and use their website, in
                                    line with a web design strategy called progressive enhancement, which is the idea
                                    that everyone should have access to the bare content, and only compatible devices
                                    should be shown the more enhanced version of the website.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </p>
                    <h4 id="title3" class="title">Version Control</h4>
                    <p>
                        Within software development, version control is a development method which allows programmers to
                        maintain previous copies of their current software either within their own computer, or within a
                        centralized server. With this, there are many benefits that stem from the usage of version
                        control, such as the ability to trace back the development of the project.
                        <br><br>
                        Version control allows programmers to find older versions of code, alongside information such as
                        the date, person responsible for the changes, and the reason for the alterations. Through this,
                        the ability for programmers to detect bugs and software errors is enhanced, allowing them to
                        analyze the origins and bugs and determine the correct rectification.
                        <br><br>
                        Version control also allows programmers to effectively collaborate with one another by making
                        programmers aware of changes made to the repository by other programmers and prompting them to
                        rectify their code to include the changes prior to committing their code to the repository. This
                        process ensures that different individuals are capable of working on the same code
                        simultaneously, which would increase productivity. Additionally, by having a centralized
                        repository, programmers can have constant feedback on their code.

                    </p>
                    <h4 id="title4" class="title">Code Libraries and Frameworks</h4>
                    <p>
                        Code libraries provide pre-written, modular, and reusable code that can be easily utilized in
                        order to speed up development and ensure the reliability and maintainability of an application.
                        Code libraries have different types: namely frameworks, template engines and predesigned CSS
                        classes, all of which follow the same concept but are designed for different applications.
                        <br><br>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Frameworks
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Frameworks, such as Flask, is a set of prewritten code that serves as the structure
                                    on which the code can be incorporated in order to create a new web application.
                                    Frameworks act as modifiable templates that allow programmers to avoid writing
                                    commonly implemented functionality and instead focus on their own code for the
                                    application. <br><br>
                                    The utilization of frameworks come with notable benefits:
                                    <ul>
                                        <li>
                                            Frameworks allow developers to utilize code that have been previously
                                            debugged and tested, ensuring the reliability of the specific functionality.
                                        </li>
                                        <li>
                                            Frameworks reduce the cost and time of producing a solution while preserving
                                            the quality of the solution.
                                        </li>
                                        <li>
                                            Frameworks likely contain best practices for development, which would
                                            benefit the organization of the project.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Template Engines
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Template engines allow developers to dynamically generate HTML pages based on the
                                    content and the HTML “template” that is provided to the template engine. In this
                                    way, the programmer would not have to manually change the HTML page every time new
                                    content is added, with them only needing to pass content into the template engine,
                                    which would then dynamically generate the required HTML page. <br><br>
                                    Template engines like Jinja work by replacing variables in the template file with
                                    the actual values provided in the content, also incorporating control structures,
                                    such as loops, to make this process simpler and more extensible. The template engine
                                    thus transforms the template file into an actual HTML file which is then sent to the
                                    user for their browser to render. <br><br>
                                    The advantage with using template engines is that it promotes code organization by
                                    separating the content from the code. In this way, the developer who works on the
                                    website does not need to worry about the content that another developer is working
                                    on, only needing to create a template that does not need to be continuously updated.
                                    The separation of concerns and maintenance allows code to become more maintainable
                                    and extensible over time.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Predesigned CSS Classes
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Predesigned CSS classes such as Bootstrap are collections of pre-made CSS files that
                                    offer reusable code for common elements of a webpage, such as for buttons, grids and
                                    navigation menus. It does this by providing predefined CSS classes that allow
                                    programmers to simply reference and utilize specific styling, so as to minimize or
                                    eliminate the need for the programmer to code create his own CSS. Predesigned CSS
                                    classes also allow for websites to become more responsive, meaning that users on
                                    different devices would still be capable of utilizing the website, thereby making it
                                    more accessible. <br><br>

                                    Excluding clear advantages associated with cost and time, predesigned CSS classes:
                                    <ul>
                                        <li>
                                            Ensures that CSS works for multiple browsers as they are most likely
                                            pretested to work with a range of different platforms. They are also likely
                                            to also be compatible with mobile devices, thus simplifying development.
                                        </li>
                                        <li>
                                            Allows consistency between different pages within the website to be
                                            maintained, particularly when multiple individuals are working on the
                                            project.
                                        </li>
                                        <li>
                                            Prioritize accessibility for people with disabilities, providing built-in
                                            features and incorporating inclusive design such that disabled individuals
                                            are able to navigate the website.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-toolbar" style="padding-left: 40vw; margin-top: 100px">
        <button class="btn btn-success" style="text-align: center; left: 50%; margin-right: 20px;"><a
                href="{{ url_for("big_data_accessibility") }}"
                style="color: white; text-decoration: none;">⬅️
            Big Data and Accessibility</a></button>

    </div>

{% endblock %}