{% extends 'notes_base.html' %}
{% block title %}Data Transfer and Internet Protocols | SEng Notes{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-2" style="position: fixed;">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#title1">Data Packets</a>
                    <a class="list-group-item list-group-item-action" href="#title2">Common Web Protocols</a>
                    <a class="list-group-item list-group-item-action" href="#title3">Internet Protocol (IP)</a>
                    <a class="list-group-item list-group-item-action" href="#title4">Domain Name Systems</a>
                </div>
            </div>

            <div class="col-12" style="padding-left: 20vw;">
                <h2 style="padding-bottom: 2vh;">Investigate how data is transferred over the internet.</h2>
                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                     class="scrollspy-example" tabindex="0">
                    <p>You may not realize it, but on average, roughly one petabyte of data is actively being
                        transferred over the internet every second (that's about <em>one million gigabytes</em>). With
                        this much data, it is paramount that there is a way to ensure that data is being transferred
                        reliably, accurately and in a timely manner. But before we can worry about that, we also have to
                        know where the data is even going. These are the jobs of data packets and IP addresses
                        respectively, and they are discussed right below.
                    </p>
                    <h4 id="title1" class="title">What are data packets?</h4>
                    <p>A data packet is a small portion of data taken from a larger file that is transmitted from one
                        device to another via a network,
                        such as the internet. Data packets are used to break down large files into smaller, more
                        manageable units that can be sent in any order and reassembled by the receiver's device at the
                        destination,
                        also known as the <em>endpoint</em>.
                        Alongside the transported data (also known as the <strong>payload</strong>), most data transfer
                        protocols also send a packet header, which
                        contains metadata specifying the receiver's IP address, the protocol used to transfer the
                        data, and other relevant information, such as the origin, content and destination of the data.
                        Sometimes, data packets also have a trailer that indicates the end of the packet and may contain
                        error checking data.
                        <br> <br>

                        While it is theoretically possible to transfer files as one continuous stream of data using a
                        method called circuit switching, such a
                        solution is impractical in computer networks, which are groups of two or more connected
                        computers.
                        Without breaking down the files, computers within the network would need to take turns to
                        receive and transmit data, making it exponentially slower the more devices there are in the
                        network and thus impractical for the operation of the internet.

                        <br><br>

                        Therefore, data packets are used in order to allow
                        multiple computers to simultaneously receive data by reducing the size of the data transferred
                        at one time and making each packet independent of one another such that data packets can take
                        different, more optimized routes to the endpoint, thereby making it faster and
                        more efficient for the many devices on the internet. The way that this
                        can be achieved is by using a technique called <strong>packet switching</strong>.

                        <br> <br>

                        Packet switching is a data transmission method in which a message is broken into a number of
                        parts (which are the data packets), sent independently, over whatever route is optimum
                        for each packet, and then reassembled at the destination. In the context of the internet (which
                        is in
                        essence a network of networks), packets travel through various network nodes, such as routers
                        and switches, and arrives at its intended location.

                        <br><br>


                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">To note:</h4>
                        <p>Despite being part of the same classification of "network nodes," routers and switches
                            actually function differently to one another. Switches connect devices to form a network and
                            move data within this network, while routers connect switches as they send packets between
                            networks.</p>
                        <hr>
                        <p class="mb-0">So in essence, a switch transfers data packets within devices to form a network,
                            while a router transfers packets between networks.</p>
                    </div>

                    <br>
                    Each router within a packet switched network operates independently to one another, meaning that
                    packets of the same data can take different paths towards an endpoint, depending on what is optimal
                    for the data. Subsequently, this reduces the overall strain on network
                    infrastructure and hastens the
                    data transfer process, as packets are able to be routed around congested networks, leading to a
                    more efficient usage of network resources. Packet switched networks also allow for multiple
                    devices to transfer
                    and use the network infrastructure, allowing the network nodes to facilitate connections with
                    multiple devices at once.


                    <br> <br>

                    Packet switching forms the basis of the modern data transfer model used in data transmissions today,
                    called
                    the TCP/IP model. The Transmission Control Protocol is responsible for assembling the packets
                    in
                    the right order and ensuring accuracy of transmission, and the Internet Protocol is responsible
                    for allowing communications to exist
                    between devices on the internet (more regarding them below).
                    <br><br>

                    Thus, to recap the main ideas of this section are:
                    </p>
                    <table class="table">
                        <thead>
                        <th scope="col">Key Information</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Data packets are smaller portions of a larger piece of data.
                            </td>

                        </tr>
                        <tr>
                            <td>Data packets have 3 main components, the header, payload, and the trailer. The header
                                contains metadata regarding the data packet, the payload contains the data that the user
                                is transmitting, and the trailer indicates the end of the packet and can contain
                                additional error checking information.
                            </td>
                        </tr>
                        <tr>
                            <td>Data packets form part of the concept of packet switching, which is the method in which
                                data
                                packets are sent independent of one another and then reassembled to form the
                                original data at the endpoint.
                            </td>
                        </tr>
                        <tr>
                            <td>The advantage of packet switching is that transmission infrastructure is more
                                efficiently utilized as packets are capable of choosing the most optimal path to their
                                destination, leading to faster, more reliable transmissions as data avoids congested
                                networks.
                            </td>
                        </tr>
                        <tr>
                            <td>Packet switching also contrasts with circuit switching in that it can facilitate the
                                simultaneous connection of multiple devices across the same network infrastructure,
                                making it ideal for the large amounts of systems on the internet.
                            </td>
                        </tr>
                        <tr>
                            <td>Packet switching forms the basis of the Transmission Control Protocol / Internet
                                Protocol (TCP/IP) protocols, where TCP is responsible for the assembly of data at the
                                endpoint and IP is responsible for the communication between devices on the internet.
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <h4 id="title2" class="title">An Overview of the Common Web Protocols</h4>
                    <p>Within the context of data transmission, protocols are standardized sets of rules that govern the
                        exchange or transmission of data between devices. Protocols define how data packets are
                        formatted and processed, which ensures that different devices are able to successfully
                        communicate with one
                        another within the internet, acting as a sort of universal language that allows devices of
                        different hardware and software to still be able to communicate with one another despite their
                        differences.

                        <br><br>

                        Without protocols, computers would have different expectations for the format of data because of
                        the lack of standardization, which would limit the ability for devices to communicate. Protocols
                        are
                        also responsible for maintaining the integrity, security and consistency of data transfers as
                        they also define how data addressed, routed, transmitted and
                        received. They also have rules on how to detect and correct
                        errors, with some protocols adding a checksum, which is a sequence of numbers and letters that
                        is derived from the payload, within the header to verify the
                        integrity of the packet when it is received.

                        <br><br>

                        In today's world, data protocols are not merely standalone sets of rules, but more often work
                        collaboratively within a layered model called a stack. Each layer in the stack is
                        interdependent, with the lower layers providing the means for the upper layer to operate. There
                        are many such stacks in data transmission, but the most universally known stack is the TCP/IP
                        stack, which is the stack used on the internet, depicted below.

                        <br><br>

                    <figure style="margin: auto; display: block; margin-left: auto; margin-right: auto; width:70%;">
                        <img src="/static/images/TCP-IP-Model-Architecture.png" class="img-fluid">
                        <figcaption style="font-size: 12px; color: grey">A visual representation of the TCP/IP stack.
                        </figcaption>
                    </figure>

                    <br><br>

                    The TCP/IP model is one of the many protocols that exist on the internet. The syllabus states that
                    you must remember a number of these protocols, all of them listed below.

                    <br><br>

                    </p>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    HTTP, HTTPS
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The Hyper Text Transfer Protocol (Secure, if SSL is available) is a protocol used
                                    to encode and transport data between a web browser and a web server. The protocol is
                                    labeled as secure (HTTPS) if connection between the server and the device is
                                    encrypted using SSL/TLS, which secures the code against unwanted receivers and
                                    individuals trying to modify the data being sent. <br><br>

                                    Through HTTP, the browser can send a HTTP request to the server hosting the website.
                                    The HTTP request, which is made up of the HTTP method (GET, POST, PUT), the URL and
                                    other headers, is
                                    sent to the server as a requeest. The servers then processes the request and sends a
                                    response towards the browser, which includes a status code that shows if the request
                                    was fulfilled, and any requested data. <br><br>

                                    Typically, HTTP uses port 80, and HTTPS uses port 443.

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    TCP/IP
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The Transmission Control Protocol is a protocol that is used to handle data packets
                                    prior to sending or after receiving. It is used to handle the ordering of data
                                    packets, and check the integrity of the data packet after its transmission. The TCP
                                    is responsible for the breaking down of large files into data packets, which are
                                    then forwarded to the IP for sending.<br><br>

                                    The Internet Protocol is the protocol that handles the transportation of data
                                    packets. IP attaches IP information to packets of data within the header, payload
                                    and the footer,
                                    and thus provides the means for data to be transferred from one network node to
                                    another. IP does this mainly by providing a unique IP address for each device or
                                    server that the packets can subsequently be directed to.<br><br>

                                    Generally, TCP and IP do not have set ports through which connections are
                                    established.
                                    </br>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    DNS
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The Domain Name System (DNS) is used to match up human-readable domain names with
                                    the IP
                                    addresses of the servers to simplify the process of connecting and retrieving
                                    information from a specific known server. <br><br>

                                    DNS uses port 53.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    FTP, SFTP
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    File Transfer Protocol (FTP) is a protocol used to transfer files between devices on
                                    a TCP/IP network, such as the internet. Commonly it is used to transfer files from a
                                    server to a computer. <br><br>

                                    FTP establishes two connections between hosts, with one being
                                    the control connection and the other being the data connection. The control
                                    connection is used to send information regarding commands and user data, and the
                                    data connection is used to transfer the actual data between the two devices.

                                    Secure File Transfer Protocol (SFTP) is an extension of the FTP protocol, as it
                                    protects the encrypts the data being transferred using Secure Shell Encryption to
                                    provide a layer of security during file transfers.<br><br>

                                    FTP typically uses port 20 and 21, and SFTP typically uses port 22.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="true"
                                        aria-controls="collapseFive">
                                    SSL, TLS
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Secure Socket Layer (now obsolete and replaced by Transport Layer Security, though
                                    the name remains) is a protocol used to facilitate the encryption connection between
                                    a device and a server through the utilization of asymmetric encryption to exchange
                                    keys and allow for symmetric encryption to occur. SSL / TLS is also used to verify
                                    the identity of the server prior to the device connecting to it by observing the
                                    certificates that the website presents.<br><br>

                                    SSL/TLS does not have specific ports through which they communicate with.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                    SMTP, POP 3, IMAP
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Simple Mail Transfer Protocol (SMTP) is a set of rules that standardize the process
                                    of sending emails. Notably, SMTP is only responsible for the sending of Emails
                                    towards the mail server, and other
                                    protocols are needed to retrieve the emails from the web server, with examples being
                                    the Post Office Protocol 3 and Internet Message Access Protocol are used to deliver
                                    the mail from the web server to the user's email client.<br><br>

                                    All three of these protocols utilize TCP to operate and send data.<br><br>

                                    SMTP runs on ports 25, 465 an 587.<br>
                                    POP 3 runs on ports 110 and 995.<br>
                                    IMAP runs on ports 143 and 993.<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h4 id="title3" class="title">Internet Protocol</h4>
                    <p>The two main protocols that are of importance in today's internet are the Transmission Control
                        Protocol (TCP) and the Internet Protocol (IP). Both protocols work in conjunction with one
                        another, hence the reason why they are commonly refered to as one unit: the TCP/IP
                        model. However, we are only going to be focusing on the Internet Protocol below.<br><br>
                    </p>
                    <h5>The IP protocol</h5>
                    <p>
                        The Internet Protocol is a set of rules for the routing and addressing packets of data so that
                        they
                        can travel across networks and arrive at the correct destination. IP information is attached to
                        each packet, such that routers can decide the optimal route for the packet to get to its
                        endpoint. The Internet Protocol is only responsible for the transport of data. Once the data
                        arrives at
                        the endpoint, other protocols are responsible to send the information to the application itself,
                        such as TCP and UDP. <br><br>

                        This IP information comes in the form of an IP address, which is a unique identifier assigned to
                        each device that allows packets to be accurately directed to a device. IP addresses are series
                        of characters
                        (made up of 4 8-bit numbers in IPv4 separated by dots) that can either be 32 or 128 bits in
                        length, depending on
                        whether it
                        follows the IPv4 or the IPv6 standard, the latter being the most recent.
                        <br><br>
                        The reason behind the increase in the number of bits is because of the growing number of
                        internet-connected devices. IPv4's limitation to 32 bits means that only around 4.3 billion
                        unique addresses are possible with the standard. Thus, in order to future-proof the Internet
                        Protocol, IPv6's increase to 128 bits means that there will be more than enough addresses to
                        account for the continued growth of the Internet.<br><br>

                    </p>

                    <h4 id="title4" class="title">Domain Name Systems</h4>
                    <p>The Domain Name System is a method that translates human-readable domains names into IP
                        addresses, which are used by devices to figure out the address to which they should transmit
                        data. DNS is advantageous for normal users as it allows users to connect to websites using
                        easily-rememberable domain names, rather than IP addresses, making the internet more accessible
                        for normal users. <br><br>

                        In order for DNS to resolve domain names into IP addresses, DNS uses two distinct servers in
                        order to help in its DNS resolution:
                    </p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Recursive Servers
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Recursive servers act on behalf on the end-user to query authoritative servers in
                                    order to find and relay the resulting IP address back to the user. The browser
                                    connects to the recursive server whenever the user types in a domain name, and
                                    allows it to return the IP address after it finishes resolving the domain name. <br><br>


                                    Recursive servers also cache the IP addresses to certain domain names to
                                    improve DNS resolution speed and efficiency.

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Authoritative Servers
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Authoritative servers contain the actual records that relate domain names to the IP
                                    addresses. These servers respond to queries from recursive DNS nameservers and
                                    provide the actual IP addresses for the domain name. Authoritative servers would
                                    either send back the IP address, or redirect the recursive server to another
                                    authoritative server if it doesn't exist, such that the process can repeat until the
                                    recursive server queries an authoritative server with the needed IP address.
                                    <br><br>

                                    There are different types of authoritative servers:
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Root name server</th>
                                            <td>The root name server is responsible for directing the recursive
                                                nameserver to the appropriate TLD nameserver, as they manage the root
                                                zone, serving as the parent of all TLD nameservers.
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Top-level domain (TLD) name servers</th>
                                            <td>The Top-level Domain name server is responsible for directing the
                                                recursive nameserver to the appropriate domain that ends in the last
                                                portion of the hostname (.com, .org, etc) that they are responsible for.
                                                For example, the ".com" TLD name server would direct recursive servers
                                                to authoritative servers that have domains ending with ".com".
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Domain Name Servers<br></th>
                                            <td>
                                                The Domain Name Server manages the zone with the full domain name, returning the IP address to the recursive server if the domains match.
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-toolbar" style="padding-left: 40vw; margin-top: 100px">
        <button class="btn btn-success" style="text-align: center; left: 50%; margin-right: 20px;"><a href="{{ url_for("web_programming") }}"
                                                                                 style="color: white; text-decoration: none;">⬅️
            Applications of Web Programming</a></button>
        <button class="btn btn-success" style="text-align: center; left: 50%"><a href="#"
                                                                                 style="color: white; text-decoration: none;">➡️
            Securing the Web</a></button>
    </div>

{% endblock %}